body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: sans-serif;
}

#content {
    min-height: 100vh;
    min-width: 100vw;

    display: grid;
    grid-template-columns: 1fr 3fr;
}

main {
    padding: 100px;
}

.sidebar {
    background-color: whitesmoke;
    padding: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

nav ul {
    padding: 0;
}

nav li {
    list-style: none;
    padding: 12px 0;
}

.toolbar {
    background-color: lightgrey;
    padding: 8px;
    display: flex;
    justify-content: flex-end;
}

.input-bar {
    display: flex;
    height: 30px;
    width: 100%;
}

.add-project-input {
    flex: 1 0 0;
    background-color: white;
    color: black;
    margin: 5px;
}