body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: sans-serif;
}

#content {
    min-height: 100vh;
    min-width: 100vw;

    display: grid;
    grid-template-columns: min(300px, 30%) 1fr;
}

main {
    padding: 100px;
}

.project-heading {
    width: 100%;
    font-size: 5rem;
    border: none;
    border-bottom: 10px solid black;
    font-weight: bold;
}

.project-description {
    width: 100%;
    resize: none;
    border: none;
    border-bottom: 2px solid black;
}

#todos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 20px;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    margin-top: 18px;
}

#todo-container-buttons {
    width: 100%;
    background-color:lightgrey;
    display: flex;
    justify-content: flex-end;
    padding: 8px;
}

#todo-container-buttons > button {
    font-size: 30px;
    padding: 5px 15px;
}

.todo {
    display: grid;

    height: 250px;

    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr;

    border: 5px solid black;
}

.todo-checkbox-container {
    grid-column: 1;
    grid-row: span 2;
    background-color: greenyellow;
}

.todo-name {
    grid-column: 2;
    grid-row: 1;
    font-size: 25px;
    font-weight: bold;
    background-color: black;
    color: white;
}

.todo-description {
    grid-column: 2;
    grid-row: 2;
    resize: none;
}

.sidebar {
    background-color: whitesmoke;
    padding: 20px;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

nav ul {
    padding: 0;
}

nav li {
    list-style: none;
    padding: 12px 8px;
    cursor: pointer;
}

.selected {
    background-color: lightgray;
}

.toolbar {
    background-color: lightgrey;
    padding: 8px;
    display: flex;
    justify-content: flex-end;
}

.input-bar {
    display: flex;
    height: 30px;
    width: 100%;
}

.input-bar > input {
    border: none;
    outline: none;
}

.add-project-input {
    flex: 1 0 0;
    background-color: white;
    color: black;
    margin: 5px;
}